* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background: linear-gradient(165deg, #01040b, #1f5e67);
  height: 100vh;
  width: 100vw;
  padding: 10px;
}

li {
  list-style-type: none;
}

.logo_container {
  width: 15vh;
  height: 15vh;
  border-radius: 50%;
  background-color: aliceblue;
  margin-right: auto;
  margin-left: auto;

  background-image: url("./logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  margin-top: 5vh;
  margin-bottom: 5vh;
}

.link_container {
  border: 1px solid aliceblue;
  background: rgba(135, 135, 135, 0.068);
  border-radius: 1vh;
  height: 8vh;
  margin-top: 3vh;

  width: 80vw;
  margin-left: auto;
  margin-right: auto;

  cursor: pointer;
}

.link_container a {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: row;
}

.link_container a div {
  height: 100%;
  margin: auto;

  display: flex;
}

.link_container a div svg {
  height: 3vh;
  width: 3vh;

  margin-top: auto;
  margin-bottom: auto;
}

.link_container a div label {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  margin-top: auto;
  margin-bottom: auto;

  color: aliceblue;

  font-size: 1.1em;
  padding-left: 1.1em;

  cursor: pointer;
}

footer {
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100vw;
  text-align: center;
  color: rgb(191, 191, 191);
  font-size: 0.8em;
}
